body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.orange-highlight {
    color: orange;
}

.half-width {
    width: 50%;
}

.top-banner {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}
.link-button {
    padding: 10px 20px;
    background: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
h1 {
    font-size: 40px;
}
.link-button:hover {
    background: orange;
    color: white;
}

.dream-big {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.felxibel-display {
    display: flex;
}
.text-area {
    padding: 5%;
}
.img-div {
    padding: 5%;
}
.img-div img {
    width: 80%;
}
p {
    text-align: justify;
}
.full-stack {
    margin: 0 10% 10% 10%;
}
.baby-developer {
    margin: 0 10% 10% 10%;
}
.shadow {
    box-shadow: 10px 10px 40px grey;
    padding: 20px;
    border-left: 7px hotpink solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    height: 300px;
}
.shadow2 {
    box-shadow: 10px 10px 40px grey;
    padding: 20px;
    border-left: 7px hotpink solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    height: 300px;
}
footer p {
    text-align: center;
    color: black;
    font-size: 12px;
}
.experience {
    background-image: url(../images/exp-bg.png);
    background-repeat:no-repeat;
    background-position: left;
}
